*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  font-family: sans-serif; }

#container {
  display: flex;
  color: #e8e6e9;
  min-height: 100vh; }

.sidebar {
  width: 30rem;
  background: #181821; }

.main {
  background-color: #121215;
  flex-grow: 1; }
