.sidebar {
  padding: 2rem;
  width: 30rem;
  background: $color-navy;

  &__links {
    margin-top: 3rem;
  }

  &__link {
    font-size: 2.5rem;
    margin: 1rem;
    color: $color-white;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 2rem;

    &--icon {
      fill: currentColor;
      height: 3rem;
      width: 3rem;
    }

    &--text {
      fill: currentColor;
      font-size: 2rem;
      margin-left: 1rem;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 5rem;
    & span {
      font-size: 1.8rem;
      margin: 0.5rem;
      color: $color-grey;
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  &__img {
    height: 4rem;
    margin-right: 1rem;
  }

  &__name {
    margin-left: 1rem;
    font-weight: 900;
    font-size: 3.2rem;
  }
}
