.sidebar {
  padding: 2rem;
  width: 28rem;
  background: $color-navy;

  position: relative;

  &__links {
    margin-top: 3rem;
  }

  &__link {
    font-size: 2.5rem;
    margin: 1rem;
    color: $color-white;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 2rem;

    &--icon {
      fill: currentColor;
      height: 3rem;
      width: 3rem;
    }

    &--text {
      fill: currentColor;
      font-size: 2rem;
      margin-left: 1rem;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 5rem;
    & span {
      font-size: 1.8rem;
      margin: 0.5rem;
      color: $color-grey;
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  &__img {
    height: 4rem;
    margin-right: 1rem;
  }

  &__name {
    margin-left: 1rem;
    font-weight: 900;
    font-size: 3.2rem;
  }
}

.sidebar__content {
  & .logo {
    display: none;
  }
}

.icon-menu {
  display: none;
  position: absolute;
  top: 1.2rem;
  left: 4rem;
  & svg {
    fill: $color-white;
    height: 2rem;
    width: 2rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .icon-menu {
    display: block;
  }

  .cancel {
    left: 80%;
  }

  .sidebar {
    padding: 0.5rem;
    width: 8rem;
    position: relative;

    &__content {
      & .logo {
        display: block;
      }

      background-color: rgba($color-navy, 0.98);
      z-index: 40;
      position: absolute;
      height: 100%;
      padding-top: 1rem;
      margin-top: -4rem;
      top: 2rem;
      transform: translateX(-20rem);
    }
  }

  .logo {
    &__img {
      height: 3rem;
    }

    &__name {
      display: none;
    }
  }
}
